name: circle_translate

on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4  
        with:
          token: ${{ secrets.WORK_TOKEN }}

      - name: Set up Python 3.8
        uses: actions/setup-python@v5  
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install beautifulsoup4 pygtrans feedparser rfeed

      - name: Run scripts and list files
        run: |
          python main2.py
          python .github/cron_random.py
          ls -al rss/
      - name: Upload RSS artifacts
        uses: actions/upload-artifact@v4
        with:
          name: rss-files
          path: rss/
          
      - name: Push changes
        env:
          U_NAME: ${{ secrets.U_NAME }}
          U_EMAIL: ${{ secrets.U_EMAIL }}
        run: |
          pwd
          git config --local user.name "${U_NAME}"
          git config --local user.email "${U_EMAIL}"
          
          git status -s
          git add rss/*
          git add test.ini
          git add README.md
          
          export TZ='Asia/Shanghai'
          git commit -m "Github RSS Translate Auto Builder at `date +'%Y-%m-%d %H:%M'`"
          
          echo "======git push===="
          git push
